<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bubbling.mapper.ActivityMapper">

    <insert id="recordUserLocation">
        insert into act_location (`activityNo`,`userphone`,`longitude`,`latitude`)
        values (#{activityId},#{userPhone},#{longitude},#{latitude});
    </insert>

    <update id="eraseUserLocation">
        update act_location
        set `state` = 1
        where `activityid` = #{activityId} and `userphone` = #{userPhone};
    </update>

    <select id="queryUserLocation" resultType="ActivityUserLocation">
        select *
        from act_location
        where `activityid` = #{activityId} and `userphone` = #{userPhone};
    </select>

    <select id="queryAllUserLocation" resultType="ActivityUserLocation">
        select *
        from act_location
        where `activityid` = #{activityId};
    </select>

    <select id="showActTask" resultType="ActivityTask">
        select *
        from act_task
        where `activityid` =#{activityId} and `state` = 0;
    </select>

    <insert id="createTask" parameterType="java.util.List">
            insert into act_task (`activityid`,`taskid`,`premise`,`longitude`,`latitude`)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
             #{item.activityId},
             #{item.taskId},
             #{item.premise},
             #{item.longitude},
             #{item.latitude}
            )
        </foreach>
    </insert>

    <insert id="addTask">
        insert into act_task (`activityid`,`taskid`,`premise`)
        values (#{activityId},#{taskId},#{premise});
    </insert>

    <update id="eraseTask">
        update act_task
        set `state` = 1
        where `activityid` = #{activityId} and `userphone` = #{userPhone} and `taskid` = #{taskId};
    </update>

    <update id="alterTask">
        update act_task
        set  premise = #{premise}
        where `activityid` = #{activityId} and `userphone` = #{userPhone} and `taskid` = #{taskId};
    </update>

    <update id="alterUserTaskState">
        update user_task_state
        set `state` = #{state}
        where `activityid` = #{activityId} and `userphone` = #{userPhone} and `taskid` = #{taskId};
    </update>

    <select id="showUserTaskState" resultType="UserTaskState">
        select *
        from user_task_state
        where `activityid` = #{activityId} and `userphone` = #{userPhone}
    </select>

    <update id="alterUserActProgress">
        update act_progress
        set `state` = #{state}
        where `activityid` = #{activityId} and `userphone` = #{userPhone} ;
    </update>

    <select id="actRunState" resultType="_int">
        select `state` from activity where `activityid` = #{activityId};
    </select>

    <select id="userPartiState" resultType="_int">
        select `state` from parti_activity where `activityid` = #{activityId} and `userphone` = #{userPhone};
    </select>

    <select id="userRunState" resultType="_int">
        select `state` from act_progress where `activityId` = #{activityId} and `userphone` = #{userPhone};
    </select>

    <select id="actShouldRun" resultType="BubblingActInfo">
        select *
        from activity
        where `state` = 0 and `starttime` &lt;= nowtime;
    </select>

    <update id="actRun">
        update activity
        set `state` = 2
        where `state` = 0 and `starttime` &lt;= nowtime;
    </update>

    <select id="actShouldFinish" resultType="BubblingActInfo">
        select *
        from activity
        where `state` = 2 and `endtime` &gt;= nowtime;
    </select>

    <update id="actFinish">
        update activity
        set `state` = 3
        where `state` = 2 and `starttime` &lt;= nowtime;
    </update>

    <update id="userEnterAct">
        update act_progress
        set `state` = 1
        where `activityid` = #{activityId} and `userphone` = #{userPhone};
    </update>

    <update id="userExitAct">
        update act_progress
        set `state` = 2
        where `activityid` = #{activityId} and `userphone` = #{userPhone};
    </update>

    <update id="userSuspendAct">
        update act_progress
        set `state` = 3
        where `activityid` = #{activityId} and `userphone` = #{userPhone};
    </update>

    <update id="userFinishAct">
        update act_progress
        set `state` = 4
        where `activityid` = #{activityId} and `userphone` = #{userPhone};
    </update>

<!--    <update id="usercnmAct">-->
<!--        update act_progress-->
<!--        set `state` = 0-->
<!--        where `activityid` = #{activityId} and `userphone` = #{userPhone};-->
<!--    </update>-->

    <select id="showActivities" resultType="BubblingActInfo">
        select *
        from `activity`
        where `state` = 0 or `state` = 2
    </select>

    <insert id="createActivity">
        insert into activity (`activityid`,`name`,`starttime`,`endtime`,`place`,`longitude`,`latitude`,`type`,`sponsorname`,`sponsorphone`)
        values (#{activityId},#{name},#{startTime},#{endTime},#{place},#{longitude},#{latitude},#{type},#{sponsorName},#{sponsorPhone});
    </insert>

    <select id="activityNum" resultType="_int">
        select count(activityId)
        from activity;
    </select>
</mapper>