<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bubbling.mapper.AdminMapper">
    <insert id="adminCreateActivity">
        insert into parti_activity(`userphone`,`activityid`,`state`)
        values (#{userPhone},#{activityId},1)
    </insert>
    <update id="adminDeleteActivity">
        update parti_activity
        set `state`=3
        where `userphone`=#{userPhone} and `activityid`=#{activityId} and `state`=1
    </update>
    <select id="getCreateActivityList" resultType="Map">
        select *
          from parti_activity
        where `state`=1 and `userphone`=#{userPhone}
    </select>
    <select id="selectMaxActivityId" resultType="_int">
        select max(`activityid`)
        from (
            select `activityid`
            from `activity_base_info`
        ) idCollection
    </select>
</mapper>