<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bubbling.mapper.UserMapper">
    <resultMap id="UserMap" type="BubblingUser">
        <id property="userPhone" column="userphone" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>
    <resultMap id="CardMap" type="BubblingUserCard">
        <id property="userPhone" column="userphone" />
        <result property="identityType" column="identitype" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <select id="queryUserByPhone" resultMap="UserMap">
        select *
        from user_base_info
        where `state`=0 and `userphone`=#{userPhone}
    </select>
    <select id="getUserInfo" resultType="Map">
        select `userphone`,`nickname`
        from user_base_info
        where `state`=0 and `userphone`=#{userPhone}
    </select>
    <select id="getCardInfo" resultMap="CardMap">
        select *
        from user_card_info
        where `state`=0 and `userphone`=#{userPhone}
    </select>
    <select id="getPartiActivityList" resultType="Map">
        select *
        from parti_activity
        where `state`=0 and `userphone`=#{userPhone}
    </select>
    <insert id="insertCardInfo">
        insert into user_card_info(`userphone`,`realname`,`gender`,`identitype`,`identityno`,`birthday`,`area`,`relation`,`emergencyphone`)
        values (#{userPhone},#{realName},#{gender},#{identityType},#{identityNo},#{birthday},#{area},#{relation},#{emergencyPhone})
    </insert>
    <update id="deleteCardInfo">
        update user_card_info
        set `state`=1
        where `userphone`=#{userPhone}
    </update>
    <insert id="userPartiActivity">
        insert into parti_activity(`userphone`,`activityid`)
        values (#{userPhone},#{activityId})
    </insert>
    <update id="userQuitActivity">
        update parti_activity
        set `state`=2
        where `userphone`=#{userPhone} and `activityid`=#{activityId}
    </update>
</mapper>